<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="dotnet4.5" />
    <package id="googlechrome" />
    <package id="steam" />
    <package id="origin" />
    <package id="7zip.install" />
    <package id="winrar" version="5.31" />
    <package id="visualstudiocode" />
    <package id="discord" />
    <package id="sharex" />
    <package id="utorrent" version="3.4.8" />
    <package id="adobereader" />
    <package id="handbrake.install" />
    <package id="teamviewer" />
    <package id="autohotkey.portable" />
    <!--<package id="audacity" />
    <package id="audacity-lame" />-->
    <package id="vlc" />
    <package id="gfwlive" />
    <package id="vmwareworkstation" />
</packages>